[Desktop Entry]
Encoding=UTF-8
Type=Application

Name=Install-Upgrade generic kernel to internal SSD disk
Name[el]=Εγκατάσταση-ενημέρωση γενικού πυρήνα σε εσωτερικό SSD δίσκο

Categories=System
Exec=gksu /usr/sbin/install-upgrade-kernel-gtk
Icon=install-upgrade-kernel-gtk
NotShowIn=KDE
